{% extends 'customer/customerbase.html' %}

{% load crispy_forms_tags %} 

{% block content %}
<style>
   @media screen and (max-height: 736px) {
.form{
  margin-left: -15%;
    margin-right: -15%;
}
   }

 @media screen and (max-height: 736px) {
 #google_translate_element {
    width: 80px;
    margin-top: 10px;
}
.goog-te-combo{
    width: 64px;
    border: outset #0000;
    font-size: 13px;

  }
  .goog-te-gadget .goog-te-combo {
    margin-left: -4px;
  }
  .goog-logo-link{
    text-indent: -9999px;  
    overflow: hidden; 
    font-size: 0px!important;
  }
 
 }
</style>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Change Password</h1>
        </div>          

        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Change Your Password!</h1>
                  </div>
                  <form method="POST" class="form">
                    {% csrf_token %}
                    {{form | crispy}}
                    <button type="submit" class="btn btn-success btn-block">Change</button>
                  </form>
                  <hr>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        
    </div>
    <!-- /.container-fluid -->
{% endblock content %}
