<!DOCTYPE html>
{% load widget_tweaks %}
{%load static%}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Register</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-2 d-none d-lg-block">

          </div>
          <div class="col-lg-8">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create New Account!</h1>
                <p class="small text-danger"> *For uploading document please upload <strong>"PanCard"</strong> for SignUp </p>
              </div>
              <form method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="username">Username</label>
                    {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="Username" %}
                  </div>
                  <div class="form-group col-md-12">
                    <label for="inputPassword4">Password</label>
                    {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="Password" %}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="first_name">First Name</label>
                    {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="First Name" autocomplete="off" %}
                  </div>
                  <div class="form-group col-md-12">
                    <label for="last_name">Last Name</label>
                    {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" autocomplete="off" %}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="mobile">Contact</label>
                    {% render_field customerForm.mobile|attr:'required:true'  class="form-control" placeholder="Contact" autocomplete="off" %}
                  </div>
                  <div class="form-group col-md-12">
                    <label for="address">Address</label>
                    {% render_field customerForm.address|attr:'required:true'  class="form-control" placeholder="Address" autocomplete="off" onFocus="geolocate()"  %}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="profile_pic">Document Upload</label>
                    <input name="profile_pic"   value="dumy value" type="hidden">
                    <input type=file name="file" class="form-control border-0">
                  </div>
                  <div class="form-group col-md-12">
                    <label for="mobile">Credit Score</label>
                    {% render_field customerForm.credit_score|attr:'required:true'  class="form-control" placeholder="Credit Score" autocomplete="off" %}
                  </div>
                  <div class="form-group col-md-12">
                    <label for="mobile">Asset Value</label>
                    {% render_field customerForm.asset_value|attr:'required:true'  class="form-control" placeholder="Asset Value" autocomplete="off" id="number_asset_value"%}
                    <span class="text-capitalize" id="words_asset_value"></span>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="mobile">Monthly Income</label>
                    {% render_field customerForm.monthly_income|attr:'required:true'  class="form-control" placeholder="Monthly Income" autocomplete="off" id="number_monthly_income"  %}
                    <span class="text-capitalize" id="words_monthly_income"></span>
                  </div>
                 
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'customerlogin' %}">Already have an account? Login!</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url '' %}">Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXX&libraries=places&callback=initAutocomplete" async defer></script>
  <script>
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}


var a = ['','one ','two ','three ','four ', 'five ','six ','seven ','eight ','nine ','ten ','eleven ','twelve ','thirteen ','fourteen ','fifteen ','sixteen ','seventeen ','eighteen ','nineteen '];
var b = ['', '', 'twenty','thirty','forty','fifty', 'sixty','seventy','eighty','ninety'];

function inWords (num) {
    if ((num = num.toString()).length > 9) return 'overflow';
    n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
    if (!n) return; var str = '';
    str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
    str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
    str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
    str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
    str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'only ' : '';
    return str;
}

document.getElementById('number_monthly_income').onkeyup = function () {
document.getElementById('words_monthly_income').innerHTML = inWords(document.getElementById('number_monthly_income').value);
};
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="auto-complete.js"></script>



<script>

var a = ['','one ','two ','three ','four ', 'five ','six ','seven ','eight ','nine ','ten ','eleven ','twelve ','thirteen ','fourteen ','fifteen ','sixteen ','seventeen ','eighteen ','nineteen '];
var b = ['', '', 'twenty','thirty','forty','fifty', 'sixty','seventy','eighty','ninety'];

function inWords (num) {
    if ((num = num.toString()).length > 9) return 'overflow';
    n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
    if (!n) return; var str = '';
    str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
    str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
    str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
    str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
    str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'only ' : '';
    return str;
}

document.getElementById('number_asset_value').onkeyup = function () {
document.getElementById('words_asset_value').innerHTML = inWords(document.getElementById('number_asset_value').value);
};
</script>
</body>

</html>
